*{
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
p{
    font-size: 22px;
}
header{
    height: 69px;
    border-bottom: 1px solid seashell;
    display: fixed;
}
header img{
    height: 50px;
    float: left;
    padding: 10px;
}
header h2{
    padding-right: 10px;
    text-decoration:underline;
    display: inline-block;
}
.mission{
    
    text-align: center;
    background-color: black;
    opacity: 1;
    display: inline-block;
    position: relative;
    top: -500px;
    z-index: 1;
    align-content: center;
    width: 100%;
}

#mission-background{
    width: 1200px;
    height: 700px;
    z-index: -1;
}

.month{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.month img{
    width: 300px;
    height: 200px;
    margin: 10px;
}
.title{
    position: relative;
    text-align: center;
    z-index: 10;
    background-color: transparent;
    
}
#location-box{
    display: inline-block;
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 15px 40px 0px 40px;
    border: 1px solid white;
    align-items: center;
    position: static;

}
.locations img{
    position: static;
    object-fit: cover;
    height: 500px;
    width: 1200px;
    z-index: -1;

}
.locations{
    flex-wrap: wrap;
    left: 10px;
    right: auto;
    z-index: auto;
}
.adresses{
    position: relative;
    top: -400px;
    opacity: 1;
    background-color: transparent;
}
footer{
    position: relative;
    top: -200px;
}
footer p{
    text-align: left;
}