*{
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
p{
    font-size: 22px;
}
header{
    height: 69px;
    border-bottom: 1px solid seashell;
    display: fixed;
}
header img{
    height: 50px;
    float: left;
    padding: 10px;
}
header h2{
    padding-right: 10px;
    text-decoration:underline;
    display: inline-block;
}
.mission{
    
    text-align: center;
    background-color: black;
    opacity: 1;
    display: inline-block;
    position: relative;
    top: -500px;
    z-index: 1;
    align-content: center;
    width: 100%;
}

#mission-background{
    width: auto;
    height: 700px;
    z-index: -1;
}

.month{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.month img{
    width: 300px;
    height: 200px;
    margin: 10px;
}
.title{
    text-align: center;
    
}
#location-box{
    display: inline-block;
    background-color: black;
    opacity: 1;
    padding: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 10px;
    border: 1px solid white;
    
}
.location img{
    position:absolute;
    height: 500px;
    width: auto;
    z-index: -1;
}
.locations{
    display:flex;
    flex-wrap: wrap;

}